.top-header{
    margin-left: 50px;
    margin-top: 50px;
}

.top-header h1{
    font-size: 35px;
    display: inline-block;
}

.top-header a{
    margin-left: 20px;
    color: #7CA284;
    text-decoration: underline;
    display: inline-flex;
}

.top-header hr{
    width: 95%;
    height: 5px;
    border: none;
    background-color: #7CA284;
    opacity: 100;
}


/* Employee Styles */

.employee{
    margin-left: 50px;
    margin-top: 20px;
}

.employee .sort{
    margin-top: 25px;
}

.employee button{
    width: 150px;
    height: 35px;
    margin-right: 50px;
    border: 1px solid #7CA284;
    border-radius: 3px;
}

.employee .display-emp-tables{
    margin-top: 30px;
}

.employee .display-emp-tables table{
    border: 1px solid #7CA284;
}

.employee .display-emp-tables table th{
    text-align: center;
    border-bottom: 1px solid #7CA284;
    border-right: 1px solid #7CA284;
    padding: 20px;
}

.employee .display-emp-tables table td{
    text-align: center;
    border-bottom: 1px solid #7CA284;
    border-right: 1px solid #7CA284;
    padding: 20px;
}

/* Update Form Style */

.update-form{
    margin-top: 10px;
    margin-left: 50px;
}

.update-form h3{
    font-size: 30px;
}

.update-form select{
    font-size: 20px;
}

.update-form input{
    margin-bottom: 10px;
    width: 35%;
    height: 35px;
    border: 1px solid #7CA284;
    border-radius: 3px;
    display: inline-block;
}

.update-form h4{
    margin-bottom: 10px;
}

.update-form button{
    margin-top: 20px;
    width: 10%;
    height: 50px;
    border: 1px solid #7CA284;
    border-radius: 4px;
    font-size: 20px;
    color: white;
    background-color: black;
}


.records_error{
    margin-left: 50px;
    font-size: 18px;
    color: red !important;
}

.records_update{
    margin-left: 50px;
    font-size: 18px;
    color: #7CA284 !important;
}

.del-notice{
    margin-top: 10px;
    font-size: 18px;
    color: orange;
}

/* delete stuff */

