
.top-header{
    margin-left: 50px;
    margin-top: 50px;
}

.top-header h1{
    font-size: 35px;
    display: inline-block;
}

.top-header a{
    margin-left: 20px;
    color: #7CA284;
    text-decoration: underline;
    display: inline-flex;
}

.top-header hr{
    width: 95%;
    height: 5px;
    border: none;
    background-color: #7CA284;
    opacity: 100;
}

.ch-header{
    margin-left: 50px;
    margin-top: 30px;
}

.ch-header h3{
    display: inline-flex;
}

.ch-header input{
    margin-bottom: 10px;
    width: 500px;
    height: 35px;
    border: 1px solid #7CA284;
    border-radius: 3px;
    display: inline-block;
}


.ch-header button{
    width: 200px;
    height: 35px;
    margin-right: 50px;
    border: 1px solid #7CA284;
    border-radius: 3px;
}

.ch-header hr{
    width: 95%;
}

.ch-header a{
    margin-left: 20px;
    color: #7CA284;
    text-decoration: underline;
    display: inline-flex;
}

.display-emp-tables{
    margin-top: 30px;
}

.display-emp-tables table{
    border: 1px solid #7CA284;
}

.display-emp-tables table th{
    text-align: center;
    border-bottom: 1px solid #7CA284;
    border-right: 1px solid #7CA284;
    padding: 20px;
}

.display-emp-tables table td{
    text-align: center;
    border-bottom: 1px solid #7CA284;
    border-right: 1px solid #7CA284;
    padding: 20px;
}

.flower-box{
    display: grid;
    gap: 20px; 
    margin: 20px;
    grid-template-columns: repeat(4, 1fr);
}

.box-item{
    text-align: center;
}

.box-item h3{
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}

.box-item img{
    width: 220px;
    height: 220px;
    display: block;
}

