/* Top Row one */

.row-one{
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 10px;
}

.row-one hr{
    width: 95%;
    height: 5px;
    border: none;
    background-color: #7CA284;
    opacity: 100;
}

.row-one .r1-img-one{
    display: inline-block;
    margin-right: 115px;
}

.row-one .r1-img-one img{
    display: inline-block;
    width: 250px;
    height: 250px;
}

.row-one .r1-img-one h3{
    margin-top: 10px;
    text-align: center;
}


/* Top Row two */

.row-two{
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 10px;
}

.row-two hr{
    width: 95%;
    height: 5px;
    border: none;
    background-color: #7CA284;
    opacity: 100;
}

.row-two .r2-img-one{
    display: inline-block;
    margin-right: 115px;
}

.row-two .r2-img-one img{
    display: inline-block;
    width: 250px;
    height: 250px;
}

.row-two .r2-img-one h3{
    margin-top: 10px;
    text-align: center;
}

/* Top Row three */

.row-three{
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 10px;
}

.row-three hr{
    width: 95%;
    height: 5px;
    border: none;
    background-color: #7CA284;
    opacity: 100;
}

.row-three .r3-img-one{
    display: inline-block;
    margin-right: 115px;
}

.row-three .r3-img-one img{
    display: inline-block;
    width: 250px;
    height: 200px;
}

.row-three .r3-img-one h3{
    margin-top: 10px;
    text-align: center;
}


/* Top Row four */

.row-four{
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 10px;
}

.row-four hr{
    width: 95%;
    height: 5px;
    border: none;
    background-color: #7CA284;
    opacity: 100;
}

.row-four .r4-img-one{
    display: inline-block;
    margin-right: 115px;
}

.row-four .r4-img-one img{
    display: inline-block;
    width: 250px;
    height: 200px;
}

.row-four .r4-img-one h3{
    margin-top: 10px;
    text-align: center;
}



