.login-form{
    margin-top: 50px;
}

.login-form h1{
    text-align: center;
    margin-bottom: 30px;
}

.login-form h3{
    font-size: 20px;
    margin-left: 32.5%;
}

.login-form input{
    width: 35%;
    height: 35px;
    border: 1px solid #7CA284;
    border-radius: 3px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}


.login-form button{
    margin-top: 50px;
    width: 10%;
    height: 50px;
    border: 1px solid #7CA284;
    border-radius: 3px;
    font-size: 20px;
    color: white;
    background-color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;  
}


.incorrect_login{
    text-align: center;
    color: red;
    font-size: 18px;
}